{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 48, "git_revision": "", "hash": "935d9cf42c9d33421631dd9027d2088e", "format-version": 4, "code-base-name": "default", "filename": "student_registration_backend_workspace/student_registration_backend/requirements.txt", "revision_history": [{"48": ""}]}